---
layout: default
---

{% for post in paginator.posts %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <div class="article-item">
        <div class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url" style="color: #161f29">{{ post.title }}</a></h2>
        </div>
        <section class="post-excerpt" itemprop="description">
            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
        </section>
        <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">——{{ post.date | date_to_long_string }}</time>
            <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
        </div>
    </div>
</article>
{% endfor %}

<ul class="pagination">
    <!-- pre -->
    {% if paginator.previous_page %}
        <li class="active"><a href="{{ paginator.previous_page_path }}">pre</a></li>
    {% endif %}

    {% for count in (1..paginator.total_pages) %}
        {% if count-page< 3 && count-page > -3 %}
            {% if count == 1 %}
            <li class="active"><a href="/">1</a></li>
            {% else %}
            <li class="active"><a href="/page{{ count }}">{{count}}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- next -->
    {% if paginator.next_page %}
    <li class="active"><a href="{{ paginator.next_page_path }}">next</a></li>
    {% endif %}
</ul>