<!-- Portfolio Grid Section -->
<section id="blog-page">
    <div class="container">
        <div class="row">
            <article class="show-off-page" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <div class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{ page.url }}" itemprop="url" style="color: #161f29">{{ page.title }}</a></h2>
                    </div>
                    <div class="post-time">
                        {{ page.date | date: "%b %-d, %Y" }}
                    </div>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{ content }}</p>
                    </section>
                </div>
            </article>
        </div>
    </div>
</section>